<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.toast"
  version="0.1.0">
  <name>toast</name>
  <description>Michal Toast Plugin</description>
  <license>Michal 1.0</license>
  <keywords>michal,toast</keywords>


  <js-module src="www/Toast.js" name="Toast">
    <clobbers target="window.Toast" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ToastPlugin">
        <param name="android-package" value="com.toast.ToastPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/ToastPlugin.java" target-dir="src/com/toast/" />
  </platform>

</plugin>
